*{
	margin: 0;
	padding: 0;
	.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

}
body{
	background-image: url(heart.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.mainbox{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}
.box{
  width: 80%;
  text-align: center;
  border: 1px;
  border-color: black;
  border-style: solid;
  background-color: #df224b99;
  margin: 10%;
}
.box h1{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 35px;
  font-weight: bolder;
  padding-top: 5%;
  text-decoration: underline;
  text-decoration-color: darkred;
}
.box h2{
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  padding-top: 1%;
}
p.name{
  padding-top: 15%;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
img{
  width: 20%;
  padding-top: 5%;
}
p.wife{
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
}

p.para{
  color: white;
  padding-top: 3%;
  margin: 5%;
  font-family:'Times New Roman', Times, serif;
}
p.heart{
  font-size: 55px;
}